<div class="main-content" id="articleCategory">

    <!-- toolbar Start-->
    <section class="bs-panel">
        <div class="bs-panel-body clearfix">
            <div class="btn-group">


                <a class="btn btn-primary">文章分类管理</a>


            </div>
            <div class="btn-group pull-right">


                <a class="btn btn-success j-add">增加</a>
                <!--<a class="btn btn-info j-edit">修改</a>-->
                <a class="btn btn-danger j-del">删除</a>


            </div>

        </div>
    </section>
    <!-- toolbar End -->

    <!-- datagird Start -->
    <section class="u-datagrid">
        <div class="j-datagrid"></div>
    </section>
    <!-- datagird End -->

    <!-- dialog Start-->
    <section class="sr-only">
        <div class="j-formDialog">
            <form class="form-horizontal j-form">

                <input type="text" class="sr-only" name="id" placeholder=""/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">栏目</label>
                    <div class="col-sm-10 validatebox">
                        <input type="text" class="form-control required" name="name"
                               placeholder=""
                               data-rule-required="true" data-msg-required="请输入栏目">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- dialog End-->
</div>
