<div class="main-content" id="goodsAttrs">

    <!-- toolbar Start-->
    <section class="bs-panel">
        <div class="bs-panel-body clearfix">
            <div class="btn-group">


                <a class="btn btn-primary">活动管理</a>


            </div>
            <div class="btn-group pull-right">


                <a class="btn btn-success j-add">增加</a>
                <!--<a class="btn btn-info j-edit">修改</a>-->
                <a class="btn btn-danger j-del">删除</a>


            </div>

        </div>
    </section>
    <!-- toolbar End -->

    <!-- datagird Start -->
    <section class="u-datagrid">
        <div class="j-datagrid"></div>
    </section>
    <!-- datagird End -->

    <!-- dialog Start-->
    <section class="sr-only">
        <div class="j-formDialog">
            <form class="form-horizontal j-form">

                <input type="text" class="sr-only" name="attr_id" placeholder=""/>
                <!-- @@include ../../template/dialog/_gridModel.html {"model":"itemsModel","txt":"商品名称","id":"goods_id","name":"goods_name"} -->
                <div class="form-group">
                    <label class="col-sm-2 control-label">数量</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="" value="" name="amount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品基本单位</label>
                    <div class="col-sm-10">
                        <select name="unit" class="form-control">
                            <option value="">请选择</option>
                            <option value="袋">袋</option>
                            <option value="箱">箱</option>
                            <option value="盒">盒</option>
                            <option value="桶">桶</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">重量</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="weight">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">重量单位</label>
                    <div class="col-sm-10">
                        <select name="weight_units" class="form-control">
                            <option value="">请选择</option>
                            <option value="g">g</option>
                            <option value="kg">kg</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">单价</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="unit_price">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">市场单价</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="market_unit_price">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">单价单位</label>
                    <div class="col-sm-10">
                        <select name="unit_price_unit" class="form-control">
                            <option value="">请选择</option>
                            <option value="元">元</option>
                            <option value="分">分</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">总价</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="total_prices">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">推荐商品</label>
                    <div class="col-sm-10">
                        <select name="recommend" class="form-control">
                            <option value="">请选择</option>
                            <option value="0">不推荐</option>
                            <option value="1">推荐</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">规格类型</label>
                    <div class="col-sm-10">
                        <select name="recommend" class="form-control">
                            <option value="">请选择</option>
                            <option value="0">普通规格</option>
                            <option value="1">促销规格</option>
                            <option value="2">新品规格</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                <label class="col-sm-2 control-label">规格状态</label>
                <div class="col-sm-10">
                    <select name="status" class="form-control">
                        <option value="">请选择</option>
                        <option value="0">未审核</option>
                        <option value="1">已审核</option>
                        <option value="2">删除</option>
                    </select>
                </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">销售状态</label>
                    <div class="col-sm-10">
                        <select name="sales_status" class="form-control">
                            <option value="">请选择</option>
                            <option value="0">普通</option>
                            <option value="1">特价</option>
                            <option value="2">折扣</option>
                            <option value="3">热卖</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" placeholder="" value="" name="rank">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- dialog End-->
</div>

