<div class="main-content" id="menusList">

    <!-- toolbar Start-->
    <section class="bs-panel">
        <div class="bs-panel-body clearfix">
            <div class="btn-group">


                <a class="btn btn-primary">菜单查询管理</a>


            </div>
            <div class="btn-group pull-right">


                <a class="btn btn-success j-add">增加</a>
                <!--<a class="btn btn-info j-edit">修改</a>-->
                <a class="btn btn-danger j-del">删除</a>


            </div>

        </div>
    </section>
    <!-- toolbar End -->

    <!-- sift Start -->
    <section class="bs-panel">
        <header class="panel-heading">筛选</header>
        <div class="bs-panel-body">
            <form class="j-search-form">
                <div class="form-group-sm">


                    <div class="row">
                        <div class="col-md-3 mb10">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon no-bg">菜单名称：</span>
                                <input type="text" class="form-control" placeholder="" name="title"/>
                            </div>
                        </div>
                        <div class="col-md-3 mb10">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon no-bg">所属模块：</span>
                                <input type="text" class="form-control" placeholder="" name="ptitle"/>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="sr-only"/>
                </div>
            </form>
        </div>

        <div class="bs-panel-footer">
            <a class="btn btn-info btn-sm j-search">查询</a>
        </div>
    </section>
    <!-- sift End -->

    <!-- datagird Start -->
    <section class="u-datagrid">
        <div class="j-datagrid"></div>
    </section>
    <!-- datagird End -->

    <!-- dialog Start-->
    <section class="sr-only">
        <div class="j-formDialog">
            <form class="form-horizontal j-form">


                <input type="text" class="sr-only" name="id" placeholder=""/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10 validatebox">
                        <input type="text" class="form-control required" name="title"
                               placeholder=""
                               data-rule-required="true" data-msg-required="请输入名称">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">路径</label>
                    <div class="col-sm-10 validatebox">
                        <input type="text" class="form-control required" name="link_url"
                               placeholder=""
                               data-rule-required="true" data-msg-required="请输入路径">
                    </div>
                </div>

                <!-- @@include ../../template/dialog/_gridModel.html {"model":"menuModel","txt":"所属模块","id":"pid","name":"ptitle"} -->
                <!-- @@include ../../template/dialog/_select_status.html -->

            </form>
        </div>
    </section>
    <!-- dialog End-->
</div>
