<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telphone=no, email=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<!-- 避免IE使用兼容模式 -->
<meta name="HandheldFriendly" content="true">
<!-- 微软的老式浏览器 -->
<title></title>
<link rel="stylesheet" href="css/style.css"/>
<!--[if lt IE 9]>
<script type="text/javascript" src="scripts/lib/html5shiv.min.js"></script>
<script type="text/javascript" src="scripts/lib/respond.min.js"></script>
<![endif]-->