<div class="col-md-3 mb10">
    <div class="input-group input-group-sm">
        <span class="input-group-addon no-bg"><!-- @@var txt -->：</span>
        <input type="text" class="form-control date" placeholder="" readonly name="<!-- @@var key -->"
               onfocus="WdatePicker({dateFmt:'<!-- @@var formatter -->'})" />
        <span class="input-group-btn j-date-icon">
            <a class="btn btn-info">
                <i class="fa fa-calendar"></i>
            </a>
        </span>
    </div>
</div>