<!-- sift Start -->
<section class="bs-panel">
    <header class="panel-heading">筛选</header>
    <div class="bs-panel-body">
        <form class="j-search-form">
            <div class="form-group-sm">


                <div class="row">
                    <div class="col-md-3 mb10">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon no-bg">订单号：</span>
                            <input type="text" class="form-control" placeholder="" name="trade_num"/>
                        </div>
                    </div>
                </div>

                <input type="submit" class="sr-only"/>
            </div>
        </form>
    </div>

    <div class="bs-panel-footer">
        <a class="btn btn-info btn-sm j-search">查询</a>
    </div>
</section>
<!-- sift End -->