<div class="main-content" id="order_invalid">

    <!-- toolbar Start-->
    <section class="bs-panel">
        <div class="bs-panel-body clearfix">
            <div class="btn-group">


                <a class="btn btn-primary">无效订单</a>


            </div>
            <div class="btn-group pull-right">
                <a class="btn btn-success j-add">增加</a>
                <!--<a class="btn btn-info j-edit">修改</a>-->
                <a class="btn btn-danger j-del">删除</a>
            </div>

        </div>
    </section>
    <!-- toolbar End -->

    <!-- datagird Start -->
    <section class="u-datagrid">
        <div class="j-datagrid"></div>
    </section>
    <!-- datagird End -->

    <!-- dialog Start-->
    <section class="sr-only">
        <div class="j-formDialog">
            <form class="form-horizontal j-form">


                <input type="text" class="sr-only" name="id" placeholder=""/>

                <div class="form-group">
                    <label class="col-sm-2 control-label">供应商</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="supplier">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">类别</label>
                    <div class="col-sm-10">
                        <select name="status" class="form-control">
                            <option value="">请选择</option>
                            <option value="0">购货</option>
                            <option value="1">退货</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">商品编号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="goods_sn">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="goods_name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品规格</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入商品规格(g/kg)" value="" name="stock_unit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品单位</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="请输入商品单位(袋/箱/个)" value="" name="unit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品数量</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="amount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品单价</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="unit_price">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">采购总金额</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="total">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">已付金额</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="amount_paid">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">欠款金额</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="amount_owed">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- dialog End-->
</div>

