<div class="main-content" id="keyWord">

    <!-- toolbar Start-->
    <section class="bs-panel">
        <div class="bs-panel-body clearfix">
            <div class="btn-group">


                <a class="btn btn-primary">关键词模块管理</a>


            </div>
            <div class="btn-group pull-right">


                <a class="btn btn-success j-add">增加</a>
                <!--<a class="btn btn-info j-edit">修改</a>-->
                <a class="btn btn-danger j-del">删除</a>


            </div>

        </div>
    </section>
    <!-- toolbar End -->

    <!-- datagird Start -->
    <section class="u-datagrid">
        <div class="j-datagrid"></div>
    </section>
    <!-- datagird End -->

    <!-- dialog Start-->
    <section class="sr-only">
        <div class="j-formDialog">
            <form class="form-horizontal j-form">


                <input type="text" class="sr-only" name="id" placeholder=""/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">关键词</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="word">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">状态</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="type">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">推荐度</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" value="" name="recommend">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- dialog End-->
</div>

