<div class="fileApi-one-img" style="display: inline-block;">
    <div class="fileApi-preview" >
        <img src="" class="j-imgDetail"/>
    </div>
    <div class="fileApi-progress"><div class="fileApi-bar"></div></div>
    <a class="fileApi-btn">
        <span class="fileApi-upload-btn iconfont icon-shangchuan"></span>
        <input class="fileApi-ipt" type="file" accept=".jpg,.jpeg,.png" />
    </a>
    <span class="fileApi-close">&times;</span>
    <input type="text" class="fileApi-valIpt sr-only" placeholder=""/>
</div>