<div class="form-group">
    <label class="col-sm-2 control-label"><!-- @@var txt --></label>
    <div class="col-sm-10 validatebox">
        <div class="input-group">
            <input type="text" class="sr-only" name="<!-- @@var id -->" placeholder=""/>
            <input type="text" class="form-control required <!-- @@var ignore -->" name="<!-- @@var name -->"
                   placeholder=""
                   data-rule-required="true" data-msg-required="请选择<!-- @@var txt -->"
                   readonly>
            <span class="input-group-btn j-gridDialog" data-single="<!-- @@var singleSelect -->" data-dialog-model="<!-- @@var model -->"><a class="btn btn-info">选择</a></span>
        </div>
    </div>
</div>