<div class="form-group">
    <label class="col-sm-2 control-label"><!-- @@var txt --></label>
    <div class="col-sm-3">
        <div class="fileApi-one-img">
            <div class="fileApi-preview" >
                <img src="" name="<!-- @@var key -->" class="j-imgDetail"/>
            </div>
            <div class="fileApi-progress"><div class="fileApi-bar"></div></div>
            <a class="fileApi-btn">
                <span class="fileApi-upload-btn iconfont icon-shangchuan"></span>
                <input class="fileApi-ipt" type="file" accept=".jpg,.jpeg,.png" name="<!-- @@var key -->" />
            </a>
            <span class="fileApi-close">&times;</span>
            <input type="text" class="fileApi-valIpt sr-only" name="<!-- @@var key -->" placeholder=""/>
        </div>
        <span class="j-note" style="position: absolute;left: 15px;bottom: -10px;color: red;"><!-- @@var note --></span>
    </div>
</div>